@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

img {
  width: 100vw;
}

a {
  display: block;
  color: white;
  background-color: #1c1cacd2;

  padding: 20px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background-color: #2728FF;
}

#facebook:hover {
  background-color: #0866FF;
}

#instagram {
  background: linear-gradient(29deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 22%, rgba(214,41,118,1) 47%, rgba(150,47,191,1) 74%, rgba(79,91,213,1) 100%);
}

#instagram:hover {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

#twitter {
  background-color: #16669c;
}

#twitter:hover {
  background-color: #1D9BF0;
}

#github {
  background-color: #26703a;
}

#github:hover {
  background-color: #40C464;
}